[Desktop Entry]
Type=Application
Name=py1graph
GenericName=graphview
Path=/home/hernani/Documentos/Documentos/python/github.com/py1Graph
Exec=python3 spritepane.py
Icon=/home/hernani/Documentos/Documentos/python/github.com/py1Graph/Image/x.png
NoDisplay=false
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
